<div class="container">
    <div class="card-row">
        <div class="card-header">
            <h2>{{title}}</h2>
        </div>
        <div class="card-body">
            <form>
                <input class="form-control" type="text" name="my current task" [(ngModel)]="newTask">
                <button class="btn btn-dark my-3" type="submit" (click)="addTodo()">Add Task</button>
            </form>
        </div>
        <div class="card-boy">
            <h2 *ngIf="taskList.length" class="mx-4">My Current Taksk ({{taskList.length}})</h2>
            <h2 *ngIf="!taskList.length">Task Not Available Create One <br>...</h2>
            <input *ngIf="taskList.length" class="form-control in my-3" placeholder="Search Text" type="text" name="search" id="search" [(ngModel)]="textSearch">
            <ul>
                <li class="d-flex my-2 py-2 px-2" *ngFor="let task of taskList | filterPipe: textSearch ;let i= index">{{task}} <button class="btn btn-danger" type="delete" (click)="clear(i)">Delete</button> </li>
            </ul>
        </div>

    </div>
</div>